/*middle*/
#content {
	background: none repeat scroll 0 0 #FFFFE7;
	padding: 5px;
	position:relative;
	font-size: 12px;
	min-height: 540px;
	height:auto !important; 
    height:540px; 
    overflow:visible;
	/*border: 1px solid #99D484;*/
}
#content a {
	text-decoration:none;
	color: #DCB20C;
}
#content a:link {color:#111;}
#content a:visited{color:#666;}
#content a:hover {color:#c61c18;text-decoration: underline;}
/*middle-leftside*/
#content #left {
	padding:5px;
	margin-top: 20px;
	text-align:left;
	width: 160px;	
	position:absolute;
	top:0;
	left:0;
}
#content #left a{
	line-height: 25px;
	color: green;
	font-weight:normal
	text-decoration: none;
}
.navbox{
	margin-bottom: 18px;	
}
.navbox .title{
	/*background-color:#5A89C0;*/
	padding-bottom: 5px;
	border-bottom:3px solid #BDC9DC;
	font-weight:bold;
}
.navbox ul{
	list-style: none outside none;	
}
.navbox ul li{
	border-bottom: 1px solid #DEDEDE;
	font-size: 13px;
	line-height: 19px;
	padding: 5px 0 0 18px;
}
/*search box**/
.searchbox{
	margin: 35px 0 30px 0;
}
.searchbox .title{
	font-weight: bold;
	padding-bottom: 3px;
	margin-bottom: 10px;
	border-bottom:3px solid #BDC9DC;
}
#search {
	background: url("../image/search.gif") no-repeat;
	border: 1px solid #CCCCCC;
	color: #666666;
	padding: 2px 2px 2px 20px;
}

/*middle-middle*/
#content #middle {
	margin-left:180px;
	padding-top:2px;
	width: 800px;
	
}
.middlebox{
	text-align:left;
	width:100%;
	padding:10px 0 5px 0;
}
.middlebox .title{
	padding-bottom:6px;
	font-weight:bold;
	font-size: 16px;
	border-bottom: 1px dashed #CCCCCC;
}
.middlebox .content{
	margin: 5px 0 0 30px;
	text-align:left;
	line-height: 200%;
}
.paper_desc{
		
}
.paper_desc span{
	display:block;
}
/**detail paper info*/
.detailpaperinfo{
	
}
.detailpaper_on{
	margin-top: 10px;
	border-bottom: 2px solid #777;
	text-align: left;
	cursor: pointer;
	height:20px;
	font-size:14px;
	background: url("../image/seed_list_close.gif") no-repeat scroll 0 0px;
}
.detailpaper_off{
	margin-top: 10px;
	font-size: 14px;
	height: 20px;
	background: url("../image/seed_list_close.gif") no-repeat scroll 0 -20px;
	text-align: left;
	cursor: pointer;
}
.confirmyes{
		
}
.confirmnot{
	display:none;
}
.notconfirm{
	display:none;
}

/******preview paper********/
.paperpreview{
	display:none;
	margin-left: 30px;
	width:700px;
}
.paperpreview .p_title{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}
.paperpreview .p_content{
	line-height: 180%;
	text-align:left;
}
.paperpreview .p_content dt{
	color: #666666;
	text-align: left;
	white-space: nowrap;
	float:left;
	
}
.paperpreview .p_content dd{
	margin-left: 80px;
	clear:right;
}

/**编辑个人信息*/
.apply_form{
	color: #5B5F6B;
}
.em{
	color: #FF0000;
}

.sex label{
	float: none;
}
.f_label{
	float: left;
	text-align: right;
	width:180px;
	margin: 2px 5px;
}
select {
	height: 20px;
}
.tip_txt{
	color: #9A9A9A;
}
.errtip{
	color: #DD2026;
	margin-left: 10px;
}

.ctrl{
	margin: 20px 0 50px 190px;
}
.bt{
	color: #3F3F3F;
	font-weight: normal;
}
.bt_cancel{
	width: 51px;
	color: #666666;
}

.infoblock{
	border-bottom: 1px dotted #CCCCCC;
	margin: 15px auto;
}
.infoblock .btitle{
	border-bottom: 1px solid #D7E3CF;
	font-weight: bold;
}
.infoblock .bcon{
	padding:5px;
}

.bcon .lb{
	float:left;
	width: 500px;
}
.bcon .rb{
	
}
.rb .img{
	min-height: 100px;
	height:auto !important; 
    height:100px; 
    overflow:visible;
}
.rb  img{
	border: 1px solid #CEE1EE;
	padding:2px;
	text-align:center;
	width: 60px;
	height: 80px;
}

.infoblock .bcon ul{
	list-style:none;
}
.infoblock .bcon li{
	font-size: 12px;
	margin-left: 30px;
	line-height: 150%;
	min-height: 20px;
	height:auto !important; 
    height:20px; 
    overflow:visible;
}
.infoblock .bcon li .attr{
	float: left;
	clear: right;
	font-weight:bold;
	width: 100px;
	text-align: right;
}
.infoblock .bcon li .val{
	margin-left: 100px;
	width: 600px;
	text-indent: 2em;
}
.infoblock .bcon li span{
	margin-left:20px;
}

.infoblock p{
	margin: 10px auto;
}
.infoblock label{
	float:left;
	margin: 4px 5px;
	text-align:right;
	width: 180px;
}

textarea{
	border-color: 1px solid #7F9DB9;
	height:60px;
	padding:3px 2px;
	width:460px;
	font-size: 12px;
}
.c_tx2 {
	color:#9A9A9A;
}

/**更多详细*/
.more{
	text-align: center;
	margin: 20px auto;
}
.more a{
	
}